extends layout

block content
  header  
    h1 User Data Entry Table
      h3 A simple CRUD app to input renewable energy data. Build on a stack including SQLLite, Express, Node JS, and Sequelize.

  table 
    thead(style='width:100%', border='1')
      tr
        th Project Name 
        th Technology 
        th Purchase Type 
        th Start Date 
        th End Date 
        th Usage 
        th Additionality? (y/n)


    //- each project in projects
    //-   project 
    //-     h1 =project.project_name
