doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="chart.js")
  body
    header
     h1= "Code Louisville Jan 2021 - User Data Entry Table"
    div.container
      block content
