extends ../layout

block content
  h2= title
  p 
    | Are you sure you want to delete 
    em= project.project_name
    | ?
  form(action="/projects/" + project.id + "/delete", method="post")
    a(href="/projects") No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")